@import url('https://fonts.googleapis.com/css2? family= Noto+Sans+Display & family= Noto+Sans:ital,wght@0,400;1,700 & display=swap');

/*tirei a margin padrão do body*/


body {
    margin: 0;
    font-family: 'noto sans',sans-serif;
}

/* todo elemento do meu site terá box-sizing:border=box*/
body * {
    box-sizing: border-box;
}

/* section main */
.main-login {
    width: 100vw;
    height:100vh;
    background: #000000 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section lado esquerdo */
.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

/* chamando um elemento dentro da minha class left-login neste caso o h1 */
.left-login > h1 {
    font-size: 3vw;
    color: #ffc300;
}

.left-login-image {
    width: 35vw;
}

/* section lado direito */
.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section card-login */
.card-login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:#14213D;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

/* chamando um elemento dentro da minha class card-login neste caso o h1 */

.card-login > h1 {
    color: #ffd60a ;
    font-weight: 600;
    margin: 0;
}

/* section textfield */

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:#00050f0c;
    color: #fff ;
    box-shadow: 0px 10px 40px #00000056; 
    outline: none;
    box-sizing: border-box;

}
.textfield > label {
    color: #fff;
    margin-bottom: 10px;

}
.textfield > input::placeholder {
    color: #325aaf93;
}

/* section button*/

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#000000;
    background: #ebc002;
    cursor: pointer;
}

/*tornando o site responsivél*/
@media only screen and (max-width: 1028px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width:600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;
    } 


    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
         width: 100%;
         height: auto;
    } 
    .left-login-image {
        width: 50vw;
    } 
    .card-login {

    }  

}
    
